*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color:lightcoral;
    color:black;
    text-align: center;
    padding: 1em;
    font-family: "Grey Qo", cursive;

}

footer{
    background-color:lightcoral;
    color:black;
    text-align: center;
    padding: 1em;    
    background-image: url("../img/gatos.png");
    background-repeat:inherit;
}

.img-perfil{
    width: 10%;
    border-radius: 50%;
  
}

.conteudo{
    width: 100% !important;
    background-color: white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 2em !important;
}

.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}

.img-icone{
    width: 80% !important; 
}

.txt-icone{
    font-size: 300% !important;
}

a {
    text-decoration: none !important;
    color: black !important;

}